= link_to url_for(:back), class: '' do
  %small
    %span.glyphicon.glyphicon-backward
    Back
= render 'menu/new_todo_link'
-counts = count_todos
%ul.nav.nav-pills.nav-stacked
  = render 'menu/item', item: {label:'inbox', link: 'state/new',
  todos_count: counts[:state][:new]}
  = render 'menu/item', item: {label:'today', link: 'calendar/today',
  todos_count: current_user.todos.today.count}
  = render 'menu/item', item: {label:'next', link: 'kind/next',
  todos_count: counts[:kind][:next]}
  = render 'menu/item', item: {label:'tomorrow', link: 'calendar/tomorrow',
  todos_count: current_user.todos.tomorrow.count}
  = render 'menu/item', item: {label:'scheduled', link: 'kind/scheduled',
  todos_count: counts[:kind][:scheduled]}
  = render 'menu/item', item: {label:'cycled', link: 'kind/cycled',
  todos_count: counts[:kind][:cycled]}
  = render 'menu/item', item: {label:'waiting', link: 'kind/waiting',
  todos_count: counts[:kind][:waiting]}
  = render 'menu/item', item: {label:'someday', link: 'kind/someday',
  todos_count: counts[:kind][:someday]}
Hidden
%ul.nav.nav-pills.nav-stacked
  = render 'menu/item', item: {label:'trash', link: 'state/trash',
   todos_count: counts[:state][:trash]}
  = render 'menu/item', item: {label:'completed', link: 'state/completed',
   todos_count: counts[:state][:completed]}