%h4
  = @project.label
  = link_to edit_project_path(@project.name), class:'btn' do
    Edit
    %span.glyphicon.glyphicon-pencil
%p= @project.content
%p
  = form_for(@project, url: "/project/#{@project.name}/change_state",
    style: :horizontal, left: 'col-lg-2', right: 'col-lg-8') do |f|
    -if @project.can_finish?
      = f.submit 'Finish', name: 'finish', class: 'btn btn-default',
      data: { confirm: "You sure? #{@project.todos_count} todos will be affected!"}
    -if @project.can_activate?
      = f.submit 'Activate', name: 'activate', class: 'btn btn-default',
      data: { confirm: "You sure? #{@project.todos_count} todos will be affected!"}
    -if @project.can_cancel?
      = f.submit 'Cancel', name: 'cancel', class: 'btn btn-default',
      data: { confirm: "You sure? #{@project.todos_count} todos will be affected!"}
    -if @project.can_delete?
      = link_to 'Delete', @project.name, method: :delete, class: 'btn',
      data: { confirm: "You sure? #{@project.todos_count} todos will be deleted!"}