= bootstrap_form_for(@project, style: :horizontal, left: "col-lg-2",
right: "col-lg-8") do |f|
  = f.text_field :title
  -#todo make it in helper
  .form-group
    %label.col-lg-2.control-label Name
    .col-lg-8
      .input-group
        %span.input-group-addon #
        = text_field_tag 'project[name]', @project.name, class:'form-control'
  = f.text_area :content, hide_label: :true, placeholder: 'Todo description...'
  = f.select :prior_id, TodoPrior::COLLECTION.invert, :prompt => 'Prior...'
  = f.form_group do
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Finish', '#', class: 'btn btn-success'
    = link_to 'Delete', @project, method: :delete, class: 'btn',
    data: { confirm: "You sure? #{@project.todos_count} todos will be deleted!"}
%h4 Projects todos
= link_to new_todo_path(:from_project => @project.id),
            title: 'Create new todo', class: '' do
  %small
    %span.glyphicon.glyphicon-plus
    Create new
= render @project.todos