.thumbnail
  -if todo.expire
    %small.pull-right= "Expires #{todo.expire.to_formatted_s(:long)}"
  %h5= todo.title
  %small= todo.content
  %p.pull-right= todo.prior
  %p
    %small= todo.status
    = link_to('show', todo, :title => "View todo: #{todo.title}")