.panel-todo.panel.panel-default.draggable{context: (todo.context.name if todo.context),
                               project: (todo.project.name if todo.project),
                               kind: (todo.kind if todo.kind),
                               state: (todo.state),
                               calendar: todo.get_schedule_label,
                               todo_id: todo.id,
                               due: (todo.due.strftime("%Y-%m-%d %H:%M") if todo.due),
                               id: "todo-#{todo.id}",
                               class: "prior-#{todo.human_prior_name}"}
  .panel-heading
    -if todo.due
      %small.pull-right
        %span.glyphicon.glyphicon-time
        due  #{todo.due.to_formatted_s(:short)}
    =link_to todo, :title => "View todo: #{todo.title}" do
      %h5.panel-title= todo.title
  .panel-body
    = form_for todo, url: "/todos/#{todo.id}/prior", remote: true do |f|
      %span.pull-right
        .btn-group-vertical
          %button.btn.btn-xs{type:'submit', name: 'increase_prior',
            disabled: ('disabled' unless todo.can_increase_prior?)}
            %i.glyphicon.glyphicon-chevron-up
          %button.btn.btn-xs{type:'submit', name: 'decrease_prior',
            disabled: ('disabled' unless todo.can_decrease_prior?)}
            %i.glyphicon.glyphicon-chevron-down
      -if todo.content.present?
        .content
          -todo.content.truncate(230).lines[0..2].each do |line|
            =line
            %br
          -if todo.content.lines.count > 3 || todo.content.length > 230
            %a.btn.btn-default.btn-xs.toggle_content Show
        .content{style:'display:none;'}
          =simple_format todo.content
          %a.btn.btn-default.btn-xs.toggle_content Hide
      %span
        %small= todo.kind_label
        -if todo.project
          =link_to project_path todo.project.name do
            %small= todo.project.label
        -if todo.context
          =link_to "/todos/contexts/#{todo.context.label}" do
            %small= todo.context.label
  -#%li.list-group-item Vestibulum at eros