.thumbnail
  -if todo.expire
    %small.pull-right= "Expires #{todo.expire.to_formatted_s(:long)}"
  =link_to todo, :title => "View todo: #{todo.title}" do
    %h5= todo.title
  %small= todo.content
  %p.pull-right= todo.prior
  %p
    %small= todo.kind_label
    -if todo.project
      =link_to project_path todo.project.name do
        %small= todo.project.label
    -if todo.context
      =link_to "/todos/contexts/#{todo.context.label}" do
        %small= todo.context.label