<div class="col-lg-9">
  <% if @today %>
      <%= content_tag(:h4, 'Today actions:') %>
      <%= render @today %>
  <% end %>
  <% if @next %>
      <%= content_tag(:h4, 'Next actions:') %>
      <%= render @today %>
  <% end %>
  <% if @tomorrow %>
      <%= content_tag(:h4, 'Tomorrow actions:') %>
      <%= render @today %>
  <% end %>
</div>