- content_for :application do
  .col-lg-3.col-md-3.col-md-3
    = render 'menu/left_sidebar'
  .col-lg-6.col-md-6.col-md-6
    - flash.each do |key, value|
      %div{class:"alert alert-#{key} alert-dismissable pull-right"}
        %button.close{type:'button', :'data-dismiss'=>'alert', :'aria-hidden'=>'true'} &times
        =value
    = yield
    = render 'shared/modal'
  .col-lg-3.col-md-3.col-sm-3
    = render 'menu/right_sidebar'
= render template: 'layouts/application'